/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
#box {
  position: fixed;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#box .content {
  position: absolute;
  width: 940px;
  height: calc(100% - 80px - 20px);
  background-color: white;
  top: 80px;
  left: calc((50% - 940px / 2));
  z-index: 2;
}

#box .content .title {
  background-color: black;
  width: 940px;
  height: 64px;
  display: inline-block;
}

#box .content .title span {
  margin-top: 19px;
  margin-left: 35px;
  float: left;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#box .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  left: 0;
  top: 0;
  z-index: 1;
}

#box .main {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  *zoom: 1;
}

#box .main::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#box .main > * {
  float: left;
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
  width: calc(50% - 30px / 2);
  height: 700px;
}

#box .main > * + * {
  margin-left: 30px;
}

#box .main .right {
  display: inline-block;
}

#box .main .left {
  display: inline-block;
}
