#box{
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    .content{
        position: absolute;
        width: 940px;
        height: calc(100% - 80px - 20px);
        background-color: white;
        top: 80px;
        left:calc((50% - 940px / 2));
        
        z-index: 2;
        .title{
            
            background-color: black;
            width: 940px;
            height: 64px;
            display: inline-block;
            span{
                margin-top: 19px;
                margin-left: 35px;
                float: left;
                display: inline-block;
                color: white;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
    .cover{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        left: 0;
        top: 0;
        z-index: 1;
    }
}