/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
html {
  min-height: 100%;
}

html body {
  color: #5a5a5a;
  background: #EBEBEB;
}

.green {
  color: #7ED321;
}

.red {
  color: #D0021B;
}

.blue {
  color: #4A90E2;
}

.yellow {
  color: #F5A623;
}

#header {
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #9b9b9b;
  text-align: center;
}

#header .container {
  display: inline-block;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  font-weight: bold;
  *zoom: 1;
}

#header .container::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#header .container > * {
  float: left;
  display: inline-block;
  height: 70px;
  line-height: 70px;
}

#header .container .logo {
  width: 120px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

#header .container .admin {
  width: 60px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

#header .container .menu {
  width: calc(100% - 120px - 60px);
  *zoom: 1;
}

#header .container .menu::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#header .container .menu > * {
  position: relative;
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 16px;
  padding: 0 16px;
}

#header .container .menu > *:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #9b9b9b;
  opacity: 0;
}

#header .container .menu > *.active, #header .container .menu > *:hover {
  color: white;
}

#header .container .menu > *.active:after, #header .container .menu > *:hover:after {
  color: white;
  background-color: white;
  opacity: 1;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.checkbox > input[type='checkbox'] {
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.3);
  left: 0;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

.checkbox > input[type='checkbox']:checked + span:before {
  display: inline-block;
}

.checkbox > span {
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox > span:before {
  content: "\ea10";
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  display: none;
  position: absolute;
}

#main .container > .info {
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
  width: 100%;
  *zoom: 1;
  margin-top: 30px;
}

#main .container > .info::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#main .container > .info > * {
  float: left;
  display: inline-block;
  width: 50%;
  height: 46px;
  line-height: 32px;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

#main .container > .info .left {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

#main .container > .info .right {
  *zoom: 1;
}

#main .container > .info .right::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#main .container > .info .right > * {
  float: right;
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

#main .container > .info .right > * > span {
  color: #9b9b9b;
  font-size: 16px;
}

#main .container > .info .right > * > i {
  color: black;
  font-size: 16px;
}

#main .container > .info .right .unit {
  margin-left: 32px;
  margin-bottom: 30px;
  position: relative;
  font-weight: bold;
  color: #EBEBEB;
  height: 34px;
  width: 192px;
  text-align: right;
  border-radius: 4%;
  background-color: black;
}

#main .container > .info .right .unit:hover .list {
  display: inline-block;
  background-color: white;
}

#main .container > .info .right .unit .list {
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 125px;
  overflow: hidden;
  font-weight: bold;
}

#main .container > .info .right .unit .list > span {
  display: inline-block;
  width: 100%;
  height: 34px;
  color: black;
  text-align: center;
  cursor: pointer;
}

#main .container > .info .right .unit .list > span.active, #main .container > .info .right .unit .list > span:hover {
  color: white;
  background-color: black;
}

#main .container > .info .right .dates {
  *zoom: 1;
}

#main .container > .info .right .dates::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

#main .container > .info .right .dates > * {
  display: inline-block;
  float: left;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.panel {
  display: inline-block;
  text-align: center;
  background-color: white;
}

.table-list {
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-spacing: 0;
}

.table-list thead {
  text-align: center;
}

.table-list thead tr th {
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: white;
  font-weight: bold;
  font-size: 16px;
}

.table-list tbody {
  position: relative;
}

.table-list tbody tr td {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.table-list tbody tr td.product {
  padding-top: 25px;
  padding-bottom: 200px;
  text-align: left;
}

.table-list tbody tr td.product .checkbox {
  position: relative;
  margin-top: -15px;
}

.table-list tbody tr td.product .checkbox > span {
  margin-top: -5px;
  border: 1px solid white;
  background-color: white;
}

.table-list tbody tr td.product .pic {
  margin-left: 8px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  overflow: hidden;
}

.table-list tbody tr td.product > span {
  position: absolute;
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
  font-size: 14px;
  height: 18px;
  margin-top: 16px;
  margin-left: 8px;
}

.table-list tbody tr td.original {
  text-align: center;
  padding-bottom: 180px;
}

.table-list tbody tr td.discount {
  text-align: center;
  padding-bottom: 180px;
}

.table-list tbody tr td.colspan-size-color-Inventory {
  text-align: left;
}

.table-list tbody tr td.colspan-size-color-Inventory .item {
  display: inline-block;
  width: 100%;
  height: 58px;
  border-bottom: 2px solid white;
  *zoom: 1;
}

.table-list tbody tr td.colspan-size-color-Inventory .item::after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

.table-list tbody tr td.colspan-size-color-Inventory .item > * {
  float: left;
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.table-list tbody tr td.colspan-size-color-Inventory .item > * span {
  width: 100%;
  display: inline-block;
}

.table-list tbody tr td.colspan-size-color-Inventory .item .size {
  width: 78px;
  text-align: left;
}

.table-list tbody tr td.colspan-size-color-Inventory .item .color {
  text-align: center;
  width: 116px;
}

.table-list tbody tr td.colspan-size-color-Inventory .item .Inventory {
  text-align: right;
  width: 150px;
}

.table-list tbody tr td.status .select {
  cursor: pointer;
  bottom: 50px;
  border-radius: 4px;
  color: white;
  position: relative;
  left: 20px;
  text-align: center;
  display: inline-block;
  width: 120px;
}

.table-list tbody tr td.status .select:hover .list {
  display: inline-block;
}

.table-list tbody tr td.status .select > span {
  border-radius: 3px;
  background-color: #F5A623;
  width: 112px;
  display: inline-block;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.table-list tbody tr td.status .select > * {
  border: 1px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
}

.table-list tbody tr td.status .select .list {
  border-radius: 3px;
  top: 8px;
  position: relative;
  background-color: white;
  color: black;
  height: 130px;
  display: none;
  box-shadow: 3px 3px 3px 3px #9B9B9B;
}

.table-list tbody tr td.status .select .list > * {
  display: inline-block;
  width: 100%;
  height: 34px;
}

.table-list tbody tr td.status .select .list > span {
  width: 120px;
  display: inline-block;
}
