@import 'SCSSfun.scss';
html{
    min-height: 100%;
    body{
        color: rgba(90,90,90,1);
        background: #EBEBEB;
    }
}

.green{
    color: #7ED321;
} 
.red{
    color:#D0021B;
}
.blue {
    color: #4A90E2;
}

#header{
      display: inline-block;
      width:100%;
      height: 70px; 
      background-color: black;
      color: rgba(155,155,155,1.00);
      text-align: center;
      .container
        {
            display: inline-block;
            width: 100%;
            max-width: 940px;        
            margin: 0 auto;
            font-weight:bold;
            @include clearfix();
           

         >*{ 
            float: left;
            display: inline-block;
            height: 70px;
            line-height: 70px;
         } 
         .logo{
             width: 120px;
             font-size: 24px;
             color:white;
             font-weight:bold;
         }
         
        .admin{
            width: 60px;
            font-size: 16px;
            color:white;
            font-weight: bold;
        
        }

        .menu{
            width: calc(100% - 120px - 60px);
            
            @include clearfix();
            >*{
                position: relative;
                display: inline-block;
                float: left;
                text-decoration: none ;
                color:rgba(155,155,155,1.00);
                font-weight: bold;
                font-size: 16px;
                padding: 0 16px;
                
                &:after{
                    content:'';
                    position: absolute;
                    bottom: 0;
                    left: 0;                   
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background-color:rgba(155,155,155,1.00); 
                    opacity: 0;
                }
                &.active,&:hover{
                    color: rgba(255,255,255,1.00);
                    
                    &:after{
                        color: rgba(255,255,255,1.00);
                        background-color: white;
                        opacity:1 ;
                        
                    }
                }
            }
            
    
            
         }
       
        }
  }
#main{
    margin-top: 32px;
   display: inline-block;
    width:100%;
    border:1px solid rgba(255,0,0,.3);
    padding-bottom: 42px;
    .container{
        border: 1px solid rgba(255,0,0,.3);
        width: 100%;
        .info{
            display: inline-block;
            width: 100%;
            @include clearfix();
            >*{
               
                float:left;
                display: inline-block;
                width: 50%;
                height:32px;
                line-height: 32px;
                border:1px solid rgba(255,0,0,.3);
            }
            .left{
                color: black;
                font-size: 24px;
                font-weight: bold;               
                text-align: left;
            }
            .right{
                @include clearfix ();
                >*{
                    float:right;
                    display: inline-block;
                    border:1px solid rgba(255,0,0,.3);
                    >span{
                        color: rgba(155,155,155,1.00);
                        font-size: 16px;
                    }
                    >i{
                        color: rgba(0,0,0,1.00);
                        font-size: 16px;
                    }
                }
                .unit{
                    margin-left: 32px;
                }
                .dates{
                    @include clearfix();
                    >*{
                        display: inline-block;
                        float: left;
                        border: 1px solid rgba(255,0,0,.3);
                    }
                }
            }
        }
        .n3{
            margin-top: 16px;
            display: inline-block;
            width: 100%;
            border: 1px solid rgba(255,0,0,.3);
            @include clearfix();
            >*{
                border: 1px solid rgba(255,0,0,.3);
                display: inline-block;
                float: left;
                width: calc((100% - 20px * 2)/3);
                height:138px;
               
                +*{
                    margin-left: 20px;
                }
            }
            .panel{                
                                
                div{        
                    margin-top: 2.4%;  
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    color: rgba(0,0,0,1.00);
                    height:22px;
                    line-height: 22px;
                    border: 1px solid rgba(255,0,0,.3);
                }
                b{
                    font-size: 36px;
                    
                }
                
                
            }
        }
        .n2{
            display: inline-block;
            width:100%;
            height: 400px;
            .panel{
                border: 1px solid rgba(255,0,0,.3);
                display: inline-block;
                width:100%;
                height: 100%;
                .Table_Title{ 
                    margin-top: 2.4%;
                    border: 1px solid rgba(255,0,0,.3);                 
                    
                    float: left;
                    font-weight:bold;
                    color: black;
                    size: 24px;
                }
            }
        }
        .n1{
            display: inline-block;
            width:100%;
           @include clearfix();
           margin-top: 20px;
            >*{               
                float: left; 
                display: inline-block;
                height: 456px;               
                border: 1px solid rgba(255,0,0,.3); 
                width:calc( (100% - 20px) / 2);

               
                +*{
                    margin-left: 20px;
                    
                }
            }
            .panel{
                float: left;
                padding: 30px 40px;
                > b{
                    font-size: 24px;
                    border: 1px solid rgba(255,0,0,.3);
                    font: bold;
                    color: black;
                    display: inline-block;
                    float: left;
                }
                
            }
            .left{               
                .list{
                    border: 1px solid rgba(255,0,0,.3);
                    .item{
                        width: 100%;
                        display: inline-block;
                        height: 90px;
                        border: 1px solid rgba(255,0,0,.3);
                        >*{
                            float: left;
                            display: inline-block;
                            border: 1px solid rgba(255,0,0,.3);
                        }
                        >*[class ^= "icon"]{
                            width:45px;
                            height: 45px;

                        }
                        .name{
                            width:calc(100% - 45px - 72px - 50px);
                            height:22px;
                            margin-top: (90px - 22px) / 2;
                            font-size: 16px;
                            color: black;
                        }
                        .num{
                            width:72px;
                            height:24px;
                            margin-top: (90px - 28px) / 2;
                            font-size: 20px;
                        }
                        .rate{
                            width:50px;
                            height:22px;
                            margin-top: (90px - 22px) / 2;
                            font-size: 16px;
                        }
                    }
                     
                    
                    
                }  
             }
            .right{
                .list{
                    display:inline-block; 
                    border: 1px solid rgba(255,0,0,.3);
                    width:100%;
                    height: 116px;
                    //margin-top:30px;
                    .item{
                        display:inline-block; 
                        width: 100%;
                        height: 116px;
                        border: 1px solid rgba(255,0,0,.3);
                        @include clearfix();
                        >*{
                            display: inline-block;
                            float: left;
                            border: 1px solid rgba(255,0,0,.3);
                        }
                        .pic{
                            
                            width:100px;
                            height:100px;
                            overflow: hidden;
                            margin-top:(116px - 100px) / 2;
                        }
                        .info{
                            color: black;
                            width:calc(100% - 72px - 100px);
                            height: 116px;
                            padding-left: 20px;
                            padding-top: 16px;
                            * {
                                display: inline-block;
                                width: 100%;

                            }
                            b{
                                height: 24px;
                                line-height: 24px;
                                font-size: 18px;
                                text-align: left;

                            }
                            span{
                                font-size: 14px;
                                text-align: left;
                            }
                        }
                        .total{
                            
                            width: 72px;
                            height: 116px;
                            position: relative;
                            b{
                                border: 1px solid rgba(255,0,0,.3);
                                display: inline-block;
                                position: absolute;
                                font-weight: bold;
                                bottom: 0;
                                color:rgba(0,0,0,1.00);
                                &:before{
                                    top: -16px;
                                    content: "Total";
                                    position: absolute;
                                    display: inline-block;
                                    font-weight: normal;
                                    font-size: 14px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.panel{
    
    display: inline-block;
    text-align: center;   
    background-color: white; 
   // @include box-shadow( 0 0 10px 5px #EBEBEB);
   // @include border-radius(3px);
    
}

