<body>
  <header id ='header'>
    <div class = 'container'>
      <div class ='logo'>Shoptime</div>
        <div class ='menu'>
          <a href="" class = "active">Home</a>
          <a href="">ORDERS</a>
          <a href="">PRODUCT</a>
        </div>
      <div class = 'admin'>Admin</div>
    </div>
  </header>
  <div id='main'>
      <div class = 'container'>
        <div class = 'info '> 
          <div class='left'>OVERVIEW</div>
          <div class='right'>
            <div class="unit">
              <span>Weekly</span>
              <i class = 'icon-triangle-right'></i>
            </div>
           <div class="dates">
              <span>2018/6/6</span>
              <i class = 'icon-triangle-right'></i>
              <span>2018/6/13</span>
           </div>   

           
          </div>          
        </div>
        <div class = "n3">
          <div class ="panel">
            <div class ="">TOTAL REVENUE</div>
            <b class = "green">54,540</b>
          </div>
          <div class ="panel">
            <div class ="">TOTAL COSAT</div>
            <b class = "red">12,660</b>
          </div>
          
          <div class ="panel">
            <div class ="">NET INCOMME</div>
            <b class= "blue">41,880</b>
          </div>       
        </div>
        <div class ="n2">
          <div id ="chart"class ="panel">
            
         
          </div>
        </div>
        <div class = "n1">
          <div class = "panel left">            
            <b >Transaction Website</b>
            <div class = "list">
              <div class = "item">
                <span class ="icon"></span>
                <span class = "name" >facebook.com</span>
                <span class = "num" >45,836</span>
                <span class = "rate green" >20%</span>               
              </div>

              <div class = "item">
                <span class ="icon"></span>
                <span class = "name" >google.com</span>
                <span class = "num" >45,836</span>
                <span class = "rate green" >20%</span>               
              </div>

              <div class = "item">
                <span class ="icon"></span>
                <span class = "name" >Shopify.com</span>
                <span class = "num" >45,836</span>
                <span class = "rate red" >20%</span>               
                  </div>
              <div class = "item">
                <span class ="icon"></span>
                <span class = "name" >Wordpress.com</span>
                <span class = "num" >45,836</span>
                <span class = "rate red" >20%</span>               
              </div>
            
            </div>      
          </div>
          <div class = "panel right">
            <b class ="link_Title">Latest Orders</b>
            <div class = "list">
              <div class ="item">
                <div class = "pic"><img src = ""></div>              
                <div class = "info">
                  <b class = "Clothes">Vintage T-shirt</b>
                  <span class = "">2018/6/13 13:42</span>
                  <span class = "">Belle Willis</span>
                </div>
                <div class = "total">
                  <b>3200</b>
                </div>
              </div>

              <div class ="item">
                  <div class = "pic"><img src = ""></div>              
                  <div class = "info">
                    <b class = "Clothes">Vintage T-shirt</b>
                    <span class = "">2018/6/13 13:42</span>
                    <span class = "">Belle Willis</span>
                  </div>
                  <div class = "total">
                    <b>3200</b>
                  </div>
                </div>
                
                <div class ="item">
                    <div class = "pic"><img src = ""></div>              
                    <div class = "info">
                      <b class = "Clothes">Vintage T-shirt</b>
                      <span class = "">2018/6/13 13:42</span>
                      <span class = "">Belle Willis</span>
                    </div>
                    <div class = "total">
                      <b>3200</b>
                    </div>
                  </div>
              
            </div> 
          </div>
          
        </div>
      </div>
  </div>
</body>