<body>
  <header id ='header'>
    <div class = 'container'>
      <div class ='logo'>Shoptime</div>
        <div class ='menu'>
          <a href="" class = "active">Home</a>
          <a href="">ORDERS</a>
          <a href="">PRODUCT</a>
        </div>
      <div class = 'admin'>Admin</div>
    </div>
  </header>
  <div id='main'>
      <div class = 'container'>
        <div class = 'info '> 
          <div class='left'>OVERVIEW</div>
          <div class='right'>
            <div class="unit">
              <span>Weekly</span>
              <i class = 'icon-triangle-right'></i>
            </div>
           <div class="dates">
              <span>2018/6/6</span>
              <i class = 'icon-triangle-right'></i>
              <span>2018/6/13</span>
           </div>   

           
          </div>          
        </div>
        <div class = "n3">
          <div class ="panel">
            <div class ="">TOTAL REVENUE</div>
            <b class = "green">54,540</b>
          </div>
          <div class ="panel">
            <div class ="">TOTAL COSAT</div>
            <b class = "red">12,660</b>
          </div>
          
          <div class ="panel">
            <div class ="">NET INCOMME</div>
            <b class= "blue">41,880</b>
          </div>       
        </div>
        <div class ="n2">
          <div id ="chart"class ="panel">
            <div class = "Table_Title">Activit</div> 
         
          </div>
        </div>
      </div>
  </div>
</body>